In [1]:
%load_ext nb_black

Этот модуль должен:

* получать список заказов
* подбирать курьеров для заказа
* подбирать для курьера заказы в радиусе n метров и/или из одной и той же категории

In [59]:
from math import radians, cos, sin, asin, sqrt
import pandas as pd
import numpy as np

import random
from random import choice

In [58]:
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * asin(sqrt(a))
    # Radius of earth in kilometers is 6371
    km = 6371 * c
    return km

In [5]:
rating_choice = np.linspace(3, 5)

categories_choice = [1, 0]

current_hub = np.arange(1, 4)

COURIERS_NUM = 500

In [11]:
hubs = {0: [55.371665, 39.073222], 1: [55.470839, 39.080874], 2: [55.382143, 39.030079]}

In [6]:
categories = {0: "food", 1: "documents", 2: "parcel", 3: "flowers", 4: "others"}

In [53]:
couriers = pd.DataFrame(
    {
        "phone_number": [78373658431 for i in range(COURIERS_NUM)],
        "rating": [choice(rating_choice) for i in range(COURIERS_NUM)],
        "current_hub": [choice(current_hub) for i in range(COURIERS_NUM)],
        "food_category": [choice(categories_choice) for i in range(COURIERS_NUM)],
        "documents_category": [choice(categories_choice) for i in range(COURIERS_NUM)],
        "parcel_category": [choice(categories_choice) for i in range(COURIERS_NUM)],
        "flowers_category": [choice(categories_choice) for i in range(COURIERS_NUM)],
        "other_category": [choice(categories_choice) for i in range(COURIERS_NUM)],
        #'mean_speed': []
        "orders_in_line": 0,
        "rapid": [0 if i % 2 == 0 else 1 for i in range(COURIERS_NUM)],
        "type": [choice(current_hub) for i in range(COURIERS_NUM)],
    }
)

In [54]:
couriers

,phone_number,rating,current_hub,food_category,documents_category,parcel_category,flowers_category,other_category,orders_in_line,rapid,type
0,78373658431,4.673469,1,1,1,1,1,1,0,0,2
1,78373658431,3.816327,3,0,1,0,1,0,0,1,2
2,78373658431,3.693878,2,0,1,1,0,0,0,0,2
3,78373658431,3.000000,2,0,0,0,0,1,0,1,2
4,78373658431,4.428571,2,1,0,1,0,1,0,0,2
5,78373658431,3.734694,3,1,0,0,0,1,0,1,2
6,78373658431,4.836735,3,1,0,0,0,1,0,0,2
7,78373658431,4.387755,3,1,1,0,1,1,0,1,3
8,78373658431,4.755102,2,1,1,0,1,1,0,0,3
9,78373658431,4.836735,3,1,0,1,1,0,0,1,1
10,78373658431,3.938776,2,0,1,1,0,0,0,0,3
11,78373658431,4.142857,1,0,0,1,1,1,0,1,1
12,78373658431,4.836735,1,1,1,1,1,0,0,0,3
13,78373658431,4.224490,3,0,0,1,1,1,0,1,2
14,78373658431,3.040816,2,0,0,0,1,0,0,0,3
15,78373658431,3.938776,3,1,1,0,1,1,0,1,3
16,78373658431,3.081633,1,0,1,1,0,0,0,0,1
17,78373658431,4.469388,1,1,1,1,0,0,0,1,3
18,78373658431,3.775510,1,0,1,1,0,0,0,0,2
19,78373658431,4.224490,1,0,1,0,1,0,0,1,1
20,78373658431,3.775510,3,1,1,1,0,0,0,0,2
21,78373658431,4.061224,2,1,1,0,1,0,0,1,2
22,78373658431,3.326531,1,0,1,0,1,1,0,0,2
23,78373658431,4.102041,1,1,0,0,1,1,0,1,2
24,78373658431,4.510204,3,1,0,1,0,1,0,0,1
25,78373658431,4.469388,2,0,0,0,1,1,0,1,1
26,78373658431,3.122449,2,0,0,1,0,1,0,0,2
27,78373658431,3.163265,1,1,1,1,0,0,0,1,2
28,78373658431,4.020408,2,0,0,0,1,0,0,0,2
29,78373658431,3.040816,1,0,1,1,1,0,0,1,1

In [55]:
couriers.current_hub = couriers.apply(
    lambda x: np.nan if x.rapid == 1 else x.current_hub, axis=1
)

In [12]:
orders = pd.read_excel("data/dataset_orders_final_new.xlsx")

In [13]:
orders

,date,adress from,latitude from,longtitude from,adress to,latitude to,longtitude to,rapid,order_type,cost,cashed
0,2020-07-19 01:03:57.548,Московская область Егорьевск Улица Благонравова 1,55.380317,39.021655,Московская область Егорьевск Улица 14 лет Октя...,55.363878,39.043309,0,1,3741,1
1,2020-07-19 01:03:57.548,Московская область Егорьевск Бульвар Ларюшина 1,55.379765,39.051152,Московская область Егорьевск Комсомольская ули...,55.465594,39.053360,1,2,1402,0
2,2020-07-19 01:03:57.548,Московская область Егорьевск 3-й Железнодорожн...,55.380242,39.012773,Московская область Егорьевск Улица Алексея Туп...,55.385411,39.032033,0,1,694,1
3,2020-07-19 01:03:57.548,Московская область Егорьевск Улица Самойловой 1,55.378710,39.021465,Московская область Егорьевск Улица Комарова 1,55.383617,39.059115,1,2,2485,1
4,2020-07-19 01:03:57.548,Московская область Егорьевск Улица Козлова 1,55.369176,39.023661,Московская область Егорьевск 3-я Нечаевская ул...,55.400864,39.039519,0,3,3726,0
...,...,...,...,...,...,...,...,...,...,...,...
4543,2020-09-17 01:03:57.548,Московская область Егорьевск Ширяевский проезд 1,55.397313,39.042935,Московская область Егорьевск Улица Софьи Перов...,55.388530,39.037743,1,2,2556,0
4544,2020-09-17 01:03:57.548,Московская область Егорьевск Улица Самойловой 1,55.378710,39.021465,Московская область Егорьевск Поселковая улица 1,55.369250,39.040974,0,2,2021,1
4545,2020-09-17 01:03:57.548,Московская область Егорьевск Проезд Радугина 1,55.377347,39.085151,Московская область Егорьевск Колхозная улица 1,55.380851,39.014738,0,3,4594,0
4546,2020-09-17 01:03:57.548,Московская область Егорьевск Улица Майора Удач...,55.365701,39.051464,Московская область Егорьевск Дачная улица 1,55.372221,39.032547,0,2,479,0
4547,2020-09-17 01:03:57.548,Московская область Егорьевск Улица Воровского 1,55.369998,39.049032,Московская область Егорьевск Нечаевская улица 1,55.403143,39.041380,0,1,4420,1

In [14]:
orders = orders.drop(columns=["date", "adress from", "adress to"])

In [62]:
def primary_selection(order, couriers):
    if order.rapid == 1:
        selected_couriers = couriers[couriers.rapid == 1]
    else:
        selected_couriers = couriers[couriers.rapid == 0]
        distances = [
            haversine(
                order["latitude from"], order["longtitude from"], hubs[i][0], hubs[i][1]
            )
            for i in range(3)
        ]
        selected_couriers = selected_couriers[
            selected_couriers.current_hub == np.argmin(distances)
        ]

    selected_couriers = selected_couriers[
        selected_couriers[categories[order.order_type] + "_category"] == 1
    ]

    return selected_couriers

In [63]:
selected = primary_selection(orders.loc[1], couriers)

In [64]:
selected

,phone_number,rating,current_hub,food_category,documents_category,parcel_category,flowers_category,other_category,orders_in_line,rapid,type
9,78373658431,4.836735,NaN,1,0,1,1,0,0,1,1
11,78373658431,4.142857,NaN,0,0,1,1,1,0,1,1
13,78373658431,4.224490,NaN,0,0,1,1,1,0,1,2
17,78373658431,4.469388,NaN,1,1,1,0,0,0,1,3
27,78373658431,3.163265,NaN,1,1,1,0,0,0,1,2
29,78373658431,3.040816,NaN,0,1,1,1,0,0,1,1

In [37]:
import lightgbm as lgb

gbm = lgb.LGBMRanker()

In [45]:
y = couriers.rating.copy().apply(round)
X = couriers.copy()
X = X.drop(columns=["rating", "courier_name"])

In [47]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, test_size=0.2, random_state=1
)

In [48]:
query_train = [X_train.shape[0]]
query_val = [X_val.shape[0]]
query_test = [X_test.shape[0]]

In [49]:
gbm.fit(
    X_train,
    y_train,
    group=query_train,
    eval_set=[(X_val, y_val)],
    eval_group=[query_val],
    eval_at=[5, 10, 20],
    early_stopping_rounds=50,
)

[1]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
Training until validation scores don't improve for 50 rounds
[2]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[3]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[4]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[5]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[6]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[7]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[8]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[9]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[10]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[11]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[12]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[13]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[14]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[15]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[16]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[17]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[18]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[19]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[20]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[21]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[22]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[23]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[24]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[25]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[26]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[27]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[28]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[29]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[30]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[31]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[32]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[33]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[34]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[35]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[36]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[37]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[38]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[39]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[40]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[41]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[42]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[43]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[44]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[45]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[46]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[47]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[48]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[49]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[50]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
[51]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1
Early stopping, best iteration is:
[1]	valid_0's ndcg@5: 1	valid_0's ndcg@10: 1	valid_0's ndcg@20: 1

LGBMRanker()

In [50]:
test_pred = gbm.predict(X_test)

In [51]:
X_test["predicted_ranking"] = test_pred
X_test.sort_values("predicted_ranking", ascending=False)

/home/maria/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,phone_number,current_hub,food_category,documents_category,parcel_category,flowers_category,other_category,orders_in_line,rapid,type,predicted_ranking
17,78373658431,NaN,0,0,0,0,0,0,1,3,0.0
21,78373658431,NaN,1,1,1,0,1,0,1,1,0.0
10,78373658431,3.0,0,1,0,1,0,0,0,2,0.0
19,78373658431,NaN,0,1,1,1,1,0,1,2,0.0
14,78373658431,2.0,0,1,1,0,1,0,0,2,0.0
20,78373658431,1.0,0,0,0,1,0,0,0,2,0.0

In [44]:
X_test["predicted_ranking"] = test_pred
X_test.sort_values("predicted_ranking", ascending=False)

/home/maria/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,phone_number,current_hub,food_category,documents_category,parcel_category,flowers_category,other_category,orders_in_line,rapid,type,predicted_ranking
13,78373658431,NaN,0,1,1,0,1,0,1,1,0.0
29,78373658431,NaN,1,1,1,1,1,0,1,3,0.0

In [52]:
selected

,courier_name,phone_number,rating,current_hub,food_category,documents_category,parcel_category,flowers_category,other_category,orders_in_line,rapid,type
5,Петр Петров,78373658431,3.040816,NaN,0,0,1,1,0,0,1,3
7,Елизавета Елизаветова,78373658431,4.877551,NaN,0,1,1,1,0,0,1,1
13,Никита Никитьев,78373658431,4.102041,NaN,0,1,1,0,1,0,1,1
15,Владислав Владиславов,78373658431,4.714286,NaN,1,0,1,0,1,0,1,1
19,Алла Аллова,78373658431,4.142857,NaN,0,1,1,1,1,0,1,2
21,Андрей Андреевич,78373658431,3.448980,NaN,1,1,1,0,1,0,1,1
23,Лидия Лидьевна,78373658431,3.040816,NaN,1,0,1,1,0,0,1,1
25,Данила Данилов,78373658431,4.795918,NaN,0,0,1,0,0,0,1,3
27,Дарья Дарьева,78373658431,3.163265,NaN,0,1,1,1,0,0,1,3
29,Галина Галиновна,78373658431,3.163265,NaN,1,1,1,1,1,0,1,3